html {
    scroll-behavior: smooth;
}

body {
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(49, 54, 56);
}

@media (min-width:640px) {
    .grid {
        display: grid;
        grid-template-columns: 0fr 2fr 2fr 2fr 0fr;
        grid-column-gap: 34px;
    }
}

h1 {
    font-size: 25px;
    font-family: 'Abril Fatface',cursive;
    font-style: normal;
    color: rgb(255, 95, 83);
}

h4 {
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    font-weight: normal;
    color: rgb(49, 54, 56);
}

h5 {
    font-size: 20px;
    font-family: 'Abril Fatface',cursive;
    font-style: normal;
    color: rgb(255, 95, 83);
    margin:0;
}

h6 {
    font-size: 14px;
    font-family: 'Abril Fatface',cursive;
    font-style: normal;
    color: rgb(215,158,114);
    margin:+10px;
}

a {
    text-decoration: none;
    font-style: bold;
    color: rgb(5, 5, 5);
}

.highlight {
  font-weight: 900;
  color: rgb(255, 95, 83);
}

.header-title {
    color: rgb(255, 95, 83);
}

@media (min-width:640px){
.header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
}
}

.header-nav a {
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin-right: 16px;
}

.header-nav a:hover,
.header-title a:hover,
.lien:hover {
    color: rgb(0, 0, 0);
    transition: .5s ease;
}

.left {
    grid-column: 2 / 3;
}

.center {
    grid-column: 3 / 4;
}

.right {
    grid-column: 4 / 5;
}

.threecolumns {
    grid-column: 2 / 5;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    margin-top: 34px;
}

.container {
    position: relative;
    width: 100%;
}

.container>a {
    transition: 0.5s;
}

.container>a:hover img {
    opacity: 0.4;
}

.container>a img {
    transition: 1s;
    display: grid;
}

.a-img-txt {
    display: grid;
}

.a-img-txt>* {
    grid-area: 1/1/-1/-1;
}

.a-txt {
    display: flex;
    
    align-items: center;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity .8s;
    font-size: 25px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

.a-txt:hover {
    opacity: 1;
}



/*projet*/

.titreprojets {
    margin-top: 50px;
    color: black;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Montserrat',sans-serif;
    font-weight:bold;

}

.articleprojets {
    display: block;
    margin-left: 20px;
    color: black;
    max-width: 100%;
    font-size: 16px;
}

.articleprojets,.titreprojets {
    padding-right: 20px;
    position: sticky;
}

.projet {
    grid-column: 2 / 4;
}



.ophely {
    
    margin-left: 100px;
    margin-top: 0px;
}

@media (min-width:640px){
.contact {
    font-size: 24px;
    margin-left: 15px;
 
}
}
@media (max-width:640px){
.contact {
    font-size: 25px;
  
 
}
.ophely {
    
    margin-left: 20px;
    margin-top: 0px;
}s
}



.categorie {
    grid-column: 2 / 5;
    margin-left: 40px;
    margin-right: 48px;
    font-size: 20px;
    border-bottom: 10px black;
}

.img-cat{
margin-left: 300px;
}

.lieu {
    grid-column: 2 / 5;
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 24px;
    font-weight:bold;
}

.infos {
    grid-column: 2 / 4;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
    margin-bottom: 24px;
}